/* dashboard styling */
.teacher-dashboard {
    position: absolute;
    margin-top: 20px;
    padding: 0;
    width: 100%;
    height: 100vh;

}


/* admin details section styling */
.top-main-container {
    display: flex;
    justify-content: space-around;
    margin: 50px 50px;
    font-size: 1.2vw;
    height: fit-content;
    /* background-color: cyan; */
}

.top-main-container .admin-details-section {
    user-select: none;
    width: 30%;
    height: fit-content;
    border: 1px solid #3e3e3e75;

    padding: 30px;
    padding-right: 0px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-section,
.top-section input {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.top-section label {
    width: 30%;
    background-color: blue;
    color: white;
}

.top-main-container .admin-details-section img {
    border: 2px solid blue;
    width: 30%;
}


.top-main-container .admin-details-section div input {
    width: 70%;
    border: none;
}

.top-main-container .admin-details-section .buttons-group .action-btns {
    width: 44%;
    background-color: #fff;
    box-shadow: 1px 1px 5px blue;
    display: none;
}

.top-main-container .admin-details-section .buttons-group .edit-btn {
    width: 90%;
    background-color: #fff;
    box-shadow: 1px 1px 5px blue;
}

.top-main-container .admin-details-section .buttons-group .edit-btn:hover,
.top-main-container .admin-details-section .buttons-group .action-btns:hover {
    box-shadow: 1px 1px 5px purple;
}

.top-main-container .components-section {

    font-size: 1.2vw;
    user-select: none;
    width: 65%;
    max-height: 29vw;
    border: 1px solid #3e3e3e75;

    font-size: 1vw;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: scroll;

    position: relative;
}

.components-section table thead {
    width: 100%;
    position: sticky;
    background: transparent;
    backdrop-filter: blur(10px);
    top: 0;
}

.components-section table tr td,
th {
    text-wrap: nowrap;
    border-right: 1px solid rgba(0, 0, 0, 0.155);
}


.tbl-action-col {
    display: flex;
    gap: 5px;
}


.tbl-action-col .tbl-edit-Btn,
.tbl-action-col .tbl-delete-Btn {
    flex: 1;
    border: none;
    background-color: #fff;
}

.tbl-action-col .tbl-edit-Btn:hover,
.tbl-action-col .tbl-delete-Btn:hover {
    box-shadow: 0px 0px 4px darkblue, 3px 3px 10px lightblue;
}

@media screen and (max-width: 993px) {

    /* admin details section styling */
    .top-main-container {
        display: block;
        font-size: 2vw;
        margin-right: 0.5vw;
    }

    .top-main-container .admin-details-section {
        width: 100%;
    }

    .top-main-container .components-section {
        margin-top: 30px;
        width: 100%;
        font-size: 1.5vw;
        max-height: 90vh;
    }
}

/* for small screen size */
@media screen and (max-width: 550px) {

    .admin-dashboard {
        height: 100vh;
    }

    .top-main-container {
        font-size: small;
        margin: 0;
        height: 100%;
    }


    .top-main-container .components-section {
        margin-top: 30px;
        width: 100%;
        font-size: 1.5vw;
        max-height: 40vh;
    }

    /* .components-section, */
    .components-section table {
        font-size: medium;
    }

}